.navbar {
    background-color: #CAFFBF;
    color: black;
    font-weight: bold;
}


.navbar h1 {
    color: #CAFFBF;
}

.btn-color2 {
    font-weight: bold;
    background-color: #CAFFBF;
    align-items: center;
}