.navbar {
    background-color: #FFBF69;
}

.navbar h1 {
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px white;
}

.navbar .nav-item {
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px white;
}

.btn-color2 {
    font-weight: bold;
    align-items: center;
}