.qt-picker button {
    margin: 0 5px;
}

.minus {
    background-color: rgb(254, 103, 103);
    color: black;
    border: white;
}

.plus {
    background-color: #16DB65;
    color: black;
    border: white;
}