.about {
    background-color: #2EC4B6;
}

.about h1 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.about .box {
    background-color: #FF9F1C;
    border: 1px solid;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #CBF3F0;
}