.admin {
    background-color: #2EC4B6;

}

.admin h1 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.admin h3 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.admin .parent {
    display: flex;
}

.admin .prods {
    flex: 2;
}

.admin .coupons {
    flex: 1;
}

.admin .form {
    background-color: #FF9F1C;
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
    border-radius: 7px;
    margin: 20px;
}