.cart {
    background-color: #2EC4B6;
    color: white;
}

.cart h1 {
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.cart .prod-cart {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: #FF9F1C;
    margin-bottom: 7px;
    margin: 10px;
    border-radius: 7px;
}

.cart .prod-cart img {
    height: 100px;
    margin: 10px;
}

.cart .btn-minus {
    background-color: rgb(254, 103, 103);
}

.cart .prod-cart div {
    flex: 3;
}

.cart .prod-cart label {
    flex: 1;
}

.cart .prod-cart button {
    width: 80px;
    margin: 10px;
}

.cart .parent {
    display: flex;
}

.cart .list {
    flex: 3;
}

.cart .total {
    flex: 1;
    font-weight: bold;
    background-color: #16DB65;
    border-radius: 7px;
    margin: 7px;
}

.cart .total h4 {
    font-weight: bold;
    text-decoration: underline;
}