.shopping-list {
    background-color: #2EC4B6;
}

.shopping-list h1 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.shopping-list .input {
    vertical-align: middle;

}

.shopping-list .button {
    vertical-align: middle;
}